body {
  margin: 0;
  font-family: monospace;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

.heading {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  font-size: 15px;
}
.product-card:hover {
  transform: scale(1.05);
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  box-shadow: 0 0 10px rgba(253, 4, 4, 0.962);
  border-radius: 8px;
  overflow: hidden;
  /* background-color: blue; */
  transition: transform 0.3s ease-in-out;
}

.product-show-section {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.product-show-section img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.product-txt-section {
  padding: 15px;
}

.product-txt-section h1 {
  margin-bottom: 10px;
}

.product-txt-section p {
  margin: 5px 0;
}

.product-txt-section p:nth-child(n + 4) {
  margin-top: 10px;
}

/* Responsive code */
@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}
