* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* Navbar CSS */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding: 10px 60px;
  justify-content: space-between;
  /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 7px 6px -1px rgba(0, 0, 0, 0.25);
}
.logotxt {
  font-size: 30px;
  font-family: monospace;
  /* font-weight: 500; */
}
.logotxt a {
  color: red;
  text-decoration: none;
}
.navlink {
  list-style: none;
  gap: 40px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.navlink a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.navlink a:hover {
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  border-bottom: 2px solid orangered;
}
.cartarea {
  gap: 30px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.cartarea button {
  /* color: black; */
  font-size: 15px;
  font-weight: 400;
  padding: 7px 30px;
  border-radius: 15px;
}
.cartarea button:hover {
  color: black;
  background-color: antiquewhite;
}
.cartarea p {
  font-size: 20px;
  padding-top: 8px;
}
.menuBar,
.closeMenuBar {
  display: none;
}

/* responsive code for navbar */

@media (max-width: 900px) {
  .container {
    padding: 15px 25px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 15px 29px;
  }
  .navlink {
    gap: 30px;
  }
}
@media (max-width: 680px) {
  .container {
    padding: 15px 12px;
  }
  .cartarea {
    gap: 10px;
  }
  .navlink {
    gap: 15px;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 15px 15px;
  }
  .navlink {
    gap: 12px;
  }
}
@media (max-width: 520px) {
  .navlink {
    gap: 10px;
  }
  .cartarea button {
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 55px;
  }
}
@media (max-width: 470px) {
  .container {
    padding: 15px 25px;
  }
  .navlink {
    display: none;
    /* gap: 6px; */
    /* padding: 0px 5px; */
  }
  .menuBar {
    display: block;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 15px 20px;
  }
  .navlink {
    display: none;
  }
  .cartarea button {
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 30px;
    border-radius: 55px;
  }
  .cartarea {
    gap: 10px;
    padding: 0px 5px;
  }
  .menuBar {
    display: block;
  }
  .active .menuBar {
    display: none;
    font-size: 4.2rem;
    position: absolute;
    top: 30%;
    left: -10%;
    z-index: 9999;
  }
  .active .closeMenuBar {
    display: inline-block;
    z-index: 9999;
  }
  .navlink {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s linear;
  }
  .active .navlink {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transform: rotateX(0);
    transform-origin: right;
    transition: all 0.2s linear;
  }
}

/* ContactPage css */

.contact-container {
  max-width: 600px;
  margin: 60px auto;
  padding: 25px 25px;
  background-color: cadetblue;
  /* background-color: black; */
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  /* background-color: #007bff; */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  background-color: orangered;
}

button:hover {
  color: black;
  background-color: antiquewhite;
}

/* Additional styles for the email input */
input[type='email'] {
  /* Add any specific styling for the email input here */
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .contact-container {
    margin: 48px 50px;
  }
}

@media (max-width: 425px) {
  .contact-container {
    margin: 20px 50px;
  }
}
@media (max-width: 375px) {
  .contact-container {
    margin: 41px 30px;
  }
}

/* AboutPage css */
.about-page {
  max-width: 800px;
  margin: 0px auto;
  padding: 35px 0px;
}

h2 {
  padding: 16px 0px;
  /* color: #333; */
}

p {
  /* color: #666; */
  line-height: 1.5;
}

/* about page responsive code */

@media (max-width: 768px) {
  .about-page {
    padding: 35px 60px;
  }
}
@media (max-width: 425px) {
  .about-page {
    padding: 35px 30px;
  }
}
@media (max-width: 375px) {
  .about-page {
    padding: 35px 25px;
  }
}
@media (max-width: 320px) {
  .about-page {
    max-width: 800px;
    margin: 0px auto;
    padding: 15px 20px;
  }
}
@media (max-width: 197px) {
  .container {
    padding: 15px 10px;
  }
}

/* footer css */

.footerMain {
  height: auto;
  color: white;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #464242;
  justify-content: space-between;
  padding: 20px 50px;
}
.footer1 {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer1 h5 {
  font-size: 20px;
  font-weight: 500;
  border-bottom-style: groove;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
  /* padding-bottom: 15px; */
}
.footer1 input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  width: 100%;
  outline: none;
}
.footer1 button {
  border: none;
  border-radius: 15px;
  padding: 6px 12px;
}
.footer1 button:hover {
  cursor: pointer;
  background-color: orangered;
}
.footer2 h5 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid red;
  border-bottom-style: groove;
  padding-bottom: 5px;
}
.footer2 ul {
  margin-top: 5px;
}
.footer2 ul a {
  display: flex;
  color: white;
  text-decoration: none;
  flex-direction: column;
}
.footer3 h5 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom-style: groove;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.footer3 ul {
  margin-top: 5px;
}
.footer3 ul a {
  color: white;
  /* line-height: 2; */
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.footer4 {
  display: flex;
  color: white;
  flex-direction: column;
  text-decoration: none;
}
.footer4 h5 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid red;
  border-bottom-style: groove;
  padding-bottom: 5px;
  width: 130px;
}
.footer4 ul {
  margin-top: 5px;
}
.socialMediaFooter {
  gap: 5px;
  display: flex;
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 10px;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}
.socialMediaFooter p:hover {
  cursor: pointer;
  color: orangered;
}
.footermiddiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* responsive css for footer */

@media (max-width: 1024px) {
  .footerMain {
    padding: 20px;
  }
}

@media (max-width: 920px) {
  .footer1 p,
  .footer1 button,
  .footer1 input {
    font-size: 12px;
  }
  .footer1 button {
    padding: 4px 8px;
  }
  .footer1 input {
    width: 100%;
    padding: 4px 8px;
  }
}

@media (max-width: 768px) {
  .footerMain {
    padding: 20px;
  }
  .footer1 h5 {
    font-size: 16px;
  }
  .footer1 input {
    font-size: 10px;
    width: 100%;
  }
  .footer1 button {
    padding: 5px 8px;
    font-size: 10px;
  }
  .footer2 h5,
  .footer3 h5 {
    font-size: 16px;
  }
  .footer4 h5 {
    font-size: 16px;
    width: 95px;
  }
  .socialMediaFooter {
    margin-top: 20px;
    flex-direction: row;
    gap: 20px;
    right: 0;
  }
}

@media (max-width: 620px) {
  .footerMain {
    padding: 20px 15px;
  }
  .socialMediaFooter {
    gap: 10px;
  }
}

@media (max-width: 580px) {
  .footerMain {
    padding: 20px;
  }
  .footer1 input {
    padding: 6px 5px;
  }
  .socialMediaFooter {
    gap: 15px;
  }
}

/* error page css */

.error-page-container {
  padding: 10rem 0;
  text-align: center;
}

.error-page-container #errorheadingone {
  font-size: 7rem;
}
.error-page-container #errorheadingtwo {
  font-size: 4.2rem;
}
.error-page-container #errorpara {
  margin: 2rem 0;
}
